@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

@import "tailwindcss";

@theme {
  --font-primary: "DM Sans", sans-serif;
  --color-main-blue: #1e1b4b;
  --color-shadcn-blue: #4338ca;
  --button:#4338CA;
}
