---
import GraduationHatSVG from "../../assets/icons/graduation_hat.svg";
import GithubSVG from "../../assets/icons/github.svg";
import PullRequestSVG from "../../assets/icons/pr.svg";
import OpenSourceSVG from "../../assets/icons/oss.svg";

const features = [
  {
    title: "University-Specific Structure",
    icon: GraduationHatSVG,
  },
  {
    title: "Github Powered Contributions",
    icon: GithubSVG,
  },
  {
    title: "Request Lab Work",
    icon: PullRequestSVG,
  },
  {
    title: "Open Source and Free",
    icon: OpenSourceSVG,
  },
];
---

<main>
  <div class="flex-col sm:m-5">
    <p class="sm:mx-10">&#9673; ddc/oss</p>
  </div>
</main>