---
import Hero from "../components/Hero.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="title" content={SITE_TITLE} />
  </head>
  <body class="">
    <Hero />
  </body>
</html>
