---
import { getCollection } from "astro:content"

const universitites = await getCollection("universities")
const colleges = await getCollection("colleges")


console.log(colleges)
console.log(universitites)

---

<main>
    <h1> Search </h1>
    <input type="search" /> 
</main>