---
import BreadCrumbArrow from "./BreadCrumbArrow.astro";

const { pathname } = Astro.url;

const levels = [
  { title: "University", href: "/open-labs" },
  { title: "College", href: "/open-labs/affiliates" },
  { title: "Courses", href: "/college/courses" },
  { title: "Subjects", href: "/college/courses/subjects" },
];

const activeIndex = levels.findIndex(level => level.href === pathname);
const visibleBreadcrumbs = activeIndex !== -1 ? levels.slice(0, activeIndex + 1) : [];
---

<nav class="flex">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    {visibleBreadcrumbs.map((crumb, i) => (
      <li class="inline-flex items-center gap-3" >
        <a href={crumb.href} class={`inline-flex text-sm font-medium ${i ==visibleBreadcrumbs.length -1 && 'text-gray-700'} `}>
          <span class={`ms-1 text-sm font-medium md:ms-2`}>
            {crumb.title}
          </span>
        </a>
        {i < visibleBreadcrumbs.length - 1 && <BreadCrumbArrow />}
      </li>
    ))}
  </ol>
</nav>
