---
import { getColleges, getCourses } from "#lib/helper.ts";
import BreadCrumbArrow from "./BreadCrumbArrow.astro";

const { pathname } = Astro.url;

const isUniversitiesHome = pathname.match(/\/open-labs\/universities\/?$/);
const isCollegePage = pathname.match(/\/open-labs\/universities\/[^\/]+\/?$/);
const isCoursesPage = pathname.match(/\/open-labs\/courses\/[^\/]+\/?$/);
const isSubjectsPage = pathname.match(/\/open-labs\/subjects\/[^\/]+\/?$/);

const colleges = await getColleges();

// const filteredColleges = colleges.filter(
//   (college) => college.affiliated_to === params,
// );
console.log("Current path:", pathname);
const courses = await getCourses();

const breadcrumbs = [];

breadcrumbs.push({
  title: "University",
  href: "/open-labs/universities",
  active: isUniversitiesHome,
});

if (isCollegePage || isCoursesPage || isSubjectsPage) {
  breadcrumbs.push({
    title: "College",
    // href: '#',
    active: isCollegePage,
  });
}

if (isCoursesPage || isSubjectsPage) {
  breadcrumbs.push({
    title: "Courses",
    active: isCoursesPage,
  });
}

if (isSubjectsPage) {
  breadcrumbs.push({
    title: "Subjects",
    active: true,
  });
}
---

<nav class="flex">
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    {
      breadcrumbs.map((crumb, i) => (
        <li class="inline-flex items-center gap-3">
          <a
            href={crumb.href}
            class={`inline-flex text-sm font-medium ${crumb.active ? "text-black hover:text-blue-800" : "text-[#71717A]"}`}
          >
            <span class={`ms-1 text-sm font-medium md:ms-2`}>
              {crumb.title}
            </span>
          </a>
          {i < breadcrumbs.length - 1 && <BreadCrumbArrow />}
        </li>
      ))
    }
  </ol>
</nav>
