---

---

<footer>
  <div class="flex justify-center gap-2 flex-wrap text-xs font-primary p-10">
    <a class="underline">FAQ</a>
    <a class="underline">Terms of Service</a>
    <a class="underline">Privacy Policy</a>
    <a class="">
      &#169; Open Labs Nepal {new Date().getFullYear()}. All rights reserved</a
    >
  </div>
</footer>
