---
const {sections}=  Astro.props; 
---

<aside class="hidden lg:block lg:w-64 flex-shrink-0 px-5 md:px-10 lg:px-15 mt-10 py-5">
    {sections.map((section:any) => (
      <div class="mb-6">
        <h2 class="text-lg font-semibold mb-3">{section.title}</h2>
        <ul class="space-y-2">
          {section.items.map((item:any) => (
            <li>
              <a href={`#${item.id}`} class="text-black font=[500]">{item.name}</a>
            </li>
          ))}
        </ul>
      </div>
    ))}
  </aside>