---
import Footer from "./Footer.astro";


---


<footer class="flex flex-col md:flex-row gap-4 md:justify-between m-10 md:items-end">
    <div class="flex flex-col font-primary text-2xl">
        <h3>Got Questions?</h3>
        <h3>Take a look at our <a href="FAQ" class="underline">FAQ</a></h3>
    </div>
    <div class="flex flex-col md:justify-center gap-2 flex-wrap text-xs font-primary md:flex-row ">
        <a class="underline">About</a>
        <a class="underline">Terms of Service</a>
        <a class="underline">Privacy Policy</a>
        <a class="">
        &#169; Open Labs Nepal {new Date().getFullYear()}. All rights reserved</a
        >
  </div>
</footer>

