---
interface Subject {
  name: string;
  taught_at: string[];
  courses: string[];
}

const { subjects, university_id, course } = Astro.props;
---

<div class="w-full h-full rounded-md">
  <div class="">
    {
      subjects?.map((subject: Subject) => (
        <div class="flex items-center justify-between py-3 px-4 border-b-2 border-gray-200">
          <div class="font-[500]">{subject.name}</div>
          <a 
            href={`/open-labs/labs/${university_id}/${subject.taught_at[0]}/${course}/${subject.name.toLowerCase().replace(/\s+/g, '-')}`} 
            class="font-[700] underline text-indigo-800 hover:text-indigo-600"
          >
            View Lab Work
          </a>
        </div>
      ))
    }
  </div>
</div>
