---

---

<main class="flex flex-col gap-10 font-primary">
  <div class="flex items-center font-primary flex-col">
    <h1 class="text-4xl">About</h1>
    <p class="mx-60 mt-5 mb-5 text-2xl">
      Open Labs Nepal is an open-source platform built to empower students
      across Nepal by fostering a culture of collaboration, knowledge sharing,
      and academic support. Designed with simplicity and accessibility in mind,
      it serves as a central hub where students from various universities and
      colleges can explore and contribute lab work related to their academic
      courses.
    </p>
  </div>
  <div class="flex items-start flex-col mx-60 font-primary gap-2">
    <h2 class="text-2xl">Our Vision</h2>
    <p class="text-xl">
      To create a thriving, student-driven community where educational resources
      are open, accessible, and shaped by collaboration.
    </p>
    <p class="text-xl">Open Labs Nepal enables students to:</p>
    <ul class="text-xl list-disc">
      <li>
        Browse and access lab work submitted by peers from different
        universities, colleges, and courses.
      </li>
      <li>
        Contribute their own lab work and make it available to the wider
        academic community.
      </li>
      <li>
        Engage with others through a shared commitment to openness and
        educational growth.
      </li>
    </ul>
  </div>
  <div class="flex flex-col items-start mx-60 text-2xl gap-2">
    <h2 class="">Built by the Community</h2>
    <p class="text-xl">
      This platform is developed and maintained by the Deerwalk Developers
      Community, a group of passionate developers and contributors committed to
      building impactful, open-source solutions for the student ecosystem.
    </p>
  </div>
  <div class="flex flex-col items-start mx-60 text-2xl gap-2">
    <h2>Open to All</h2>
    <p class="text-xl">
      As an open-source initiative, anyone can contribute—whether it's by
      uploading lab reports, improving the platform, reporting issues, or
      helping others. We believe that true progress in education is achieved
      when knowledge is shared freely and communities come together to lift each
      other up.
    </p>
  </div>
</main>
