---
import GraduationHatSVG from "#assets/icons/graduation_hat.svg";
import GithubSVG from "#assets/icons/github.svg";
import PullRequestSVG from "#assets/icons/pr.svg";
import OpenSourceSVG from "#assets/icons/oss.svg";

const features = [
  {
    title: "University-Specific Structure",
    icon: GraduationHatSVG,
  },
  {
    title: "Github Powered Contributions",
    icon: GithubSVG,
  },
  {
    title: "Request Lab Work",
    icon: PullRequestSVG,
  },
  {
    title: "Open Source and Free",
    icon: OpenSourceSVG,
  },
];
---

<div class="flex flex-col justify-between">
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <div>
        <pre class="mb-5">&#9673; ddc/oss</pre>
        <h1 class="text-5xl font-primary font-bold text-main-blue">
          Simplify Lab Work.
        </h1>
        <h1 class="text-5xl font-primary font-bold text-main-blue">
          Amplify Learning.
        </h1>
      </div>
      <p
        class="text-[#1E1B4B] text-base font-primary max-w-4/8 mt-3 text-main-blue"
      >
        Open Labs Nepal connects students across universities, enabling them to
        upload, browse, and collaborate on lab work efficiently.
      </p>
      <div class="flex flex-row gap-2">
        <button
          class="bg-shadcn-blue text-white p-2 text-sm rounded w-35 h-10 drop-shadow-md font-primary"
          >View Lab Work</button
        >
        <button
          class="text-black drop-shadow-md bg-white p-2 rounded w-35 h-10 font-primary text-md"
          >Contribute</button
        >
      </div>
    </div>
    <div class="flex flex-col gap-2 font-primary text-sm">
      {
        features.map((feature) => (
          <div class="flex flex-row text-main-blue gap-1 items-center">
            <feature.icon />
            {feature.title}
          </div>
        ))
      }
    </div>
  </div>
  <div class="flex flex-col text-main-blue">
    <h2 class="font-primary text-2xl">
      Got Questions? Take a look at our <a
        href="/faq"
        class="underline font-bold">FAQ</a
      >
    </h2>
    <div class="flex flex-row gap-2 text-sm">
      <a class="underline">Terms of Service</a>
      <a class="underline">Privacy Policy</a>
      <a> &#169; Open Labs Nepal 2025</a>
      <p>All rights reserved</p>
    </div>
  </div>
</div>
