---
import Footer from "#components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="title" content={SITE_TITLE} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Open Graph tags -->
    <meta property="og:title" content="Open Labs Nepal" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://deerwalk-developers-community.github.io/open-labs//"
    />
    <meta
      property="og:description"
      content="Platform for sharing Lab works for students!"
    />
    <meta
      property="og:image"
      content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
    />
    <meta property="og:image:alt" content="Logo of Open Labs Nepal" />

    <title>{pageTitle}</title>
  </head>
  <body class="main-body flex flex-col min-h-screen">
    <main class="flex-1">
      <slot />
    </main>
    <Footer />

  </body>
</html>
